nav {
    background-color: #333;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
}

li {
    text-decoration: none;
    margin: 9px;
    cursor: pointer;
    padding: 7px;
    list-style-type: none;
}

li:hover {
    background-color: white;
    border-radius: 5px;
    color: #333;
    transition: .5s;
}