.card {
    width: 240px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
    margin-top: 20px;
    position: relative;
}

.card:hover {
    transform: scale(102%);
    transition: .5s;
    box-shadow: 5px 5px 5px #0000003f;
}

.content_card {
    border-top: solid #33333380;
    padding: 20px;
}

h2 {
    font-weight: 300;
    font-size: 35px;
}

h3 {
    font-size: 15px;
    color: #000000a1;
}

.add_cart {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    color: #4444ff;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.card:hover .add_cart {
    display: block;
}