.Search_input {
    padding: 5px;
    width: 220px;
    height: 30px;
    font-size: 15px;
}

.Search_button {
    width: 30px;
    height: 30px;
    margin-left: 7px;
    background: none ;
    border: none;
    cursor: pointer;
}