.loading {
    max-width: 50px;
    width: 100%;
    margin: 50px auto;
    font-size: 30px;
}

.icon {
    animation: spin 1s linear infinite;
}

h1 {
    font-size: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}